{
  "presets": ["es2015"],
  "plugins": [
    ["babel-plugin-jsx-pragmatic", {
      "module": "@xmpp/xml",
      "import": "xml"
    }],
    ["babel-plugin-transform-react-jsx", {
      "pragma": "xml.createElement",
    }]
  ]
}
